.container {
  background: #374259;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}

.chat {
  list-style: none;
  width: 100%;
  max-width: 48rem;
  height: 100%;
  max-height: 100vh;
  background: #545B77;
  border: 2px solid #E3F4F4;
  overflow-y: scroll;
}

.chat::-webkit-scrollbar {
  width: 0.5rem;
}

.chat::-webkit-scrollbar-thumb {
  background: #E3F4F4;
  border-radius: 1.5rem;
}

.messageContainer {
  padding: 0.5rem 0.75rem;
}

.messageContainer:nth-child(even) {
  background: #374259;
}

.infos {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.author {
  color: #c2c2c2;
  font-weight: 400;
  font-size: .9rem;
}

.time {
  font-size: .7rem;
  color: #E3F4F4;
}

.messageText {
  color: #E3F4F4;
}

.inputBox {
  width: 100%;
  max-width: 48rem;
  display: flex;
  background: #E3F4F4;
}

.input {
  width: 100%;
  padding: 0 1rem;
  font-family: 'Martian Mono', sans-serif;
  color: #374259;
  border: none;
  outline: none;
  background: transparent;
}

.send {
  padding: .5rem;
  background: #8EACCD;
  border: none;
  height: 100%;
}

.icon {
  width: 1.5rem;
  object-fit: cover;
}